@import "ol/ol.css";
@import 'ol-layerswitcher/dist/ol-layerswitcher.css';

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-zoom {
  top: 1.0em;
  left: auto;
  right: 1.0em;
}

.layer-switcher {
  position: absolute;
  top: 1.0em;
  left: 1.0em;
  right: auto;
  text-align: left;
}

